{{ shebang }}

{% include "intro.tera" %}

{% include "version.tera" %}

{% include "usage.tera" %}

{% include "parse_arguments.tera" %}

{% include "raw.tera" %}

{% include "initialize.tera" %}

{% include "run.tera" %}

initialize
run "$@"
