action="${1:-}"

case $action in
{% if commands %}{% for name, command in commands %}
    {{ name }})
      action="{{ name }}"
      ;;
{%- endfor %}{% endif %}
    "")
      {%- if default is defined %}
      action="{{ default }}"
      {% else %}
      usage >&2
      exit 1
      {% endif -%}
      ;;
    *)
      {%- if default is defined %}
      action="{{ default }}"
      {% else %}
      printf "Invalid command: %s\n" "$action" >&2
      exit 1
      {% endif -%}
      ;;
  esac
